{% load tcgcreatorlookup %}
{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>デュエル場</title>
<script type="text/javascript" src="{% static 'tcgcreator/js/jquery.min.js' %}"></script>
<script type="text/javascript">
        function enterRoom1(){
                {% if guest_flag is False %}
                    var deck_id = $("#deck_id").val();
                    location.href="{% url 'tcgcreator:init_battle1' %}?deck_id="+deck_id;
                {% else %}
                    var deck_id = $("#default_deck_id").val();
                    var guest_name = $("#guest_name").val();
                    location.href="{% url 'tcgcreator:init_battle1' %}?default_deck_id="+deck_id+"&guest_name="+guest_name;
                {% endif %}
        }
        function enterRoom2(){
                {% if guest_flag is False %}
                    var deck_id = $("#deck_id").val();
                    location.href="{% url 'tcgcreator:init_battle2' %}?deck_id="+deck_id;
                {% else %}
                    var deck_id = $("#default_deck_id").val();
                    var guest_name = $("#guest_name").val();
                    location.href="{% url 'tcgcreator:init_battle2' %}?default_deck_id="+deck_id+"&guest_name="+guest_name;
                {% endif %}
        }
        function enterRoom3(){
                {% if guest_flag is False %}
                    var deck_id = $("#deck_id").val();
                    location.href="{% url 'tcgcreator:init_battle3' %}?deck_id="+deck_id;
                {% else %}
                    var deck_id = $("#default_deck_id").val();
                    var guest_name = $("#guest_name").val();
                    location.href="{% url 'tcgcreator:init_battle3' %}?default_deck_id="+deck_id+"&guest_name="+guest_name;
                {% endif %}
        }
        function aiEnterRoom1(){
                {% if guest_flag is False %}
                    var deck_id = $("#deck_id").val();
                    var ai_id = $("#ai_id").val();
                    location.href="{% url 'tcgcreator:init_battle1' %}?deck_id="+deck_id+"&ai=1&ai_id="+ai_id;
                {% else %}
                    var deck_id = $("#default_deck_id").val();
                    var guest_name = $("#guest_name").val();
                    var ai_id = $("#ai_id").val();
                    location.href="{% url 'tcgcreator:init_battle1' %}?default_deck_id="+deck_id+"&guest_name="+guest_name+"&ai=1&ai_id="+ai_id;
                {% endif %}
        }
        function aiEnterRoom2(){
                {% if guest_flag is False %}
                    var deck_id = $("#deck_id").val();
                    var ai_id = $("#ai_id").val();
                    location.href="{% url 'tcgcreator:init_battle2' %}?deck_id="+deck_id+"&ai=1&ai_id="+ai_id;
                {% else %}
                    var deck_id = $("#default_deck_id").val();
                    var guest_name = $("#guest_name").val();
                    var ai_id = $("#ai_id").val();
                    location.href="{% url 'tcgcreator:init_battle2' %}?default_deck_id="+deck_id+"&guest_name="+guest_name+"&ai=1&ai_id="+ai_id;
                {% endif %}
        }
        function aiEnterRoom3(){
                {% if guest_flag is False %}
                    var deck_id = $("#deck_id").val();
                    var ai_id = $("#ai_id").val();
                    location.href="{% url 'tcgcreator:init_battle3' %}?deck_id="+deck_id+"&ai=1&ai_id="+ai_id;
                {% else %}
                    var deck_id = $("#default_deck_id").val();
                    var guest_name = $("#guest_name").val();
                    var ai_id = $("#ai_id").val();
                    location.href="{% url 'tcgcreator:init_battle3' %}?default_deck_id="+deck_id+"&guest_name="+guest_name+"&ai=1&ai_id="+ai_id;
                {% endif %}
        }
</script>
<style>
table td{
	width:10%;
	height:100px;
	border:1px solid #000000;
}
body {
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    font-size:12px;
    width: 100%;
    color:#000000;
}
#wrap{
    width:100%;
    height:768px;
    margin:0 auto;
    position:relative;
    background:url(img/aozora.jpg) ;
}
#wrap01{
    width:100%;
    height:768px;
    margin:0 auto;
    position:relative;
    background-color:rgba(255,255,255,0.95);/*background-color:rgbaを使用すると、現在の要素だけが透明になる。*/
}
td{
	width:300px;
}
a{
	color:#880000;
}
</style>
</head>
<body>
<div id="wrap">
<div id="wrap01" style="text-align:center">
<h1 style="text-align:center">
デュエル場
</h1>
<table style="text-align:center">
<tr>
<td>部屋1 {{room_text1}}{% if wait_kind1 == 0 %}　<a href="javascript:enterRoom1()">入室</a>{%if Config.ai and ai1%}<a href="javascript:aiEnterRoom1()">NPCと対戦</a>{% endif%}{% endif %}{% if watch_1 == 1 %}　<a href="{% url "tcgcreator:watch1" %}">観戦</a>{% endif %}{% if reenter1 == 1 %}　<a href="{% url "tcgcreator:battle1" %}">再入室</a>{% endif %}</td>
<td>部屋2 {{room_text2}}{% if wait_kind2 == 0 %}　<a href="javascript:enterRoom2()">入室</a>{%if Config.ai and ai2 %}<a href="javascript:aiEnterRoom2()">NPCと対戦</a>{% endif%}{% endif %}{% if watch_2 == 1 %}　<a href="{% url "tcgcreator:watch2" %}">観戦</a>{% endif %}{% if reenter2 == 1 %}　<a href="{% url "tcgcreator:battle2" %}">再入室</a>{% endif %}</td>
<td>部屋3 {{room_text3 |linebreaksbr }}{% if wait_kind3 == 0 %}　<a href="javascript:enterRoom3()">入室</a>{%if Config.ai and ai3%}<a href="javascript:aiEnterRoom3()">NPCと対戦</a>{% endif%}{% endif %}{% if watch_3 == 1 %}　<a href="{% url "tcgcreator:watch3" %}">観戦</a>{% endif %}{% if reenter3 == 1 %}　<a href="{% url "tcgcreator:battle3" %}">再入室</a>{% endif %}</td>
</tr>
</table>
{% if guest_flag is False %}
デッキ <select id="deck_id" name="deck_id" >
{% for user_deck_groups_tmp in  UserDeckGroups %}
{% if UserDeckGroup == user_deck_groups_tmp %}
<option value="{{user_deck_groups_tmp.user_deck_id}}" selected>{{user_deck_groups_tmp.deck_name}}</option>
{% else %}
<option value="{{user_deck_groups_tmp.user_deck_id}}">{{user_deck_groups_tmp.deck_name}}</option>
{% endif %}
{% endfor %}
</select>
{% else %}
名前<input type="text" name="guest_name" id="guest_name">
デッキ <select id="default_deck_id" name="default_deck_id" >
{% for default_deck_groups_tmp in  DefaultDeckGroups %}
<option value="{{default_deck_groups_tmp.default_deck_id}}">{{default_deck_groups_tmp.deck_name}}</option>
{% endfor %}
</select>
{% endif %}
    {% if Config.ai %}
NPCデッキ <select id="ai_id" name="ai_id" >
    {% for enemy_deck_groups_tmp in  EnemyDeckGroups %}
    {% if EnemyDeckGroup == enemy_deck_groups_tmp %}
    <option value="{{enemy_deck_groups_tmp.enemy_deck_id}}" selected>{{enemy_deck_groups_tmp.deck_name}}</option>
    {% else %}
    <option value="{{enemy_deck_groups_tmp.enemy_deck_id}}">{{enemy_deck_groups_tmp.deck_name}}</option>
    {% endif %}
    {% endfor %}
</select>
    {% endif %}

<a style="font-size:16px;" href="{% url 'tcgcreator:makedeck' %}">デッキ構築</a>
<a style="font-size:16px;" href="{% url 'tcgcreator:index' %}">戻る</a>
</div>
</div>
</body>
</html>
