{% extends "admin/base_site.html" %}
{% load tcgcreatorlookup %}
{% load static %}

{% block extrastyle %}
	{{ block.super}}
	<link rel="stylesheet" href="{% static "css/field_kind.css" %}" type="text/css" >
{% endblock extrastyle %}
{% block extrahead %}
	{{ block.super}}
	<script src="https://unpkg.com/mermaid/dist/mermaid.min.js" charset="UTF-8"></script>
	<script>mermaid.initialize({startOnLoad:true});</script>
{% endblock extrahead %}
{% block content %}
<div class="mermaid">
{{result_html}}
{% for c in count %}click {{ cost_ary|lookuplist:c }} "{% url 'admin:tcgcreator_costwrapper_change' cost_id_ary|lookuplist:c %}"
{% endfor  %}
{% for c in count_pac %}click {{ pac_ary|lookuplist:c }} "{% url 'admin:tcgcreator_paccostwrapper_change' pac_id_ary|lookuplist:c %}"
{% endfor  %}
</div>
{% endblock content %}
